<section id="address-<%=address.id %>">
  <ul>
    <li>Street 1: <%= address.street1 %></li>
    <li>Street 2: <%= address.street2 %></li>
    <li>City: <%= address.city %></li>
    <li>State: <%= address.state %></li>
    <li>Zip: <%= address.zip %></li>
  </ul>
</section>